#departures-table {
  position: static;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100vw;
  max-width: 300px;
  /* width: calc(); */
  /* max-width: 600px; */
  /* width: 100%; */
  /* border-style: solid; */
  /* border-color: gray; */
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:first-child {
  border-top: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(241, 241, 241);
}

.live {
  color: blue;
}

.bus-delayed {
  color: red;
}

.bus-early {
  color: red;
}

.bus-on_time {
  color: green;
}

.bus-short-name p {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.bus__direction p {
  margin: 0;
  /* width: 50px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.bus__arriving-time p {
  display: inline-block;
  /* width: 5px; */
  /* text-align: center; */
  /* background-color: aqua; */
  margin: 0;
  /* margin-right: 5px; */
  padding: 0;
  /* position: center; */
}

#bus-icon {
  /* display: inline-block; */
  margin: 0;
  margin-right: 5px;
  height: 15px;
}

#headsign {
  display: inline-flex;
}

@media screen and (min-width: 601) {
  #departures-table {
    /* width: 300px; */
    /* width: 20vw; */
  }
}