#departures-table {
  /* position: static; */
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  /* max-width: 600px; */
  /* width: calc(); */
  /* max-width: 600px; */
  /* width: 100%; */
  /* border-style: solid; */
  /* border-color: gray; */
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:first-child {
  border-top: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(241, 241, 241);
}

.live {
  color: blue;
}

.bus-delayed {
  color: red;
}

.bus-early {
  color: red;
}

.bus-on_time {
  color: green;
}

.bus-scheduled {
  color: black;
}

.bus-short-name__REALTIME p {
  display: inline-block;
  /* padding-left: max(9px, 20%); */
  /* padding-right: max(9px, 20%); */
  /* padding-left: clamp(9px, 15%, 20%);
  padding-right: clamp(9px, 15%, 20%); */
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: blue;
  color: white;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.bus-short-name__SCHEDULED p {
  display: inline-block;
  /* padding-left: max(9px, 15%); */
  /* padding-right: max(10px, 14%); */
  /* padding-left: clamp(9px, 15px, 20%); */
  /* padding-right: clamp(9px, 10px, 20%); */
  /* padding-right: max(9px, min(10px, 20%)); */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  /* background-color: blue; */
  /* color: white; */
  border-radius: 6px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  /* border: 1px solid black; */
  color: black;
  background-color: rgb(210, 210, 210);
}

.bus__direction p {
  margin: 0;
  /* width: 50px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.bus__direction {
  margin-left: 25px;
}

.bus__arriving-time p {
  display: inline-block;
  /* width: 5px; */
  /* text-align: center; */
  /* background-color: aqua; */
  margin: 0;
  margin-right: 10px;
  padding: 0;
  /* position: center; */
}

#bus-icon {
  /* display: inline-block; */
  margin: 0;
  margin-right: 5px;
  height: 15px;
  /* top: 80; */
}

#headsign {
  display: inline-flex;
}

/* @media screen and (max-width: 600) {
  #departures-table {
    width: 300px;
    width: 300px;
    max-width: 600px;
  }
} */