/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html {
  font-family: -apple-system, 'Noto Sans JP', sans-serif;
}

body {
  background-color: #ece7e4;
  margin: 0;
  padding: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #343332;
  }
}

.darken {
  filter: brightness(50%);
}