.leaflet-container {
  width: 100vw;
  height: calc(100vh - 0px);
  background-color: #dfdfdf;
  margin: 0;
}

@media screen and (prefers-color-scheme: dark) {
  .leaflet-container {
    background-color: #2a2826;
  }
}